@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./default.css');

.square {
    width: 50%;
}

.news-cover {
    position: relative;
    width: 100%;
    padding-top: 50%;
}

.gallery {
    padding: 0 8px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.imgonline.com.ua/examples/bee-on-daisy.jpg');
    background-size: cover;
}